@import 'base/reset';
@import 'base/variable';
@import 'base/utilities';
@import 'base/function';
@import 'base/mixin';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/home';
@import 'pages/about-me';

body {
    color: set-text-color($accent-color);
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    color: set-text-color($text-color);
}
.body-wrapper {
    padding-left: 300px;
    height: 100vh;
    background: linear-gradient(
        to left,
        rgba($secondary-color, 0.5),
        rgba($secondary-color, 0.2),
    ),
    url('/dist/img/model-1.jpg') center top no-repeat;
    background-size: cover;
    @include transition(0.3s);
    @include media-lg {
        padding-left: 0;
        &.open {
            padding-left: 300px;
        }
    }
}
.body-content {
    position: relative;
    height: 100%;
    padding: 50px 30px;
    // background: url('/dist/img/model-1.jpg') center top no-repeat;
    // background-size: cover;
}
.inner-content {
    height: 100%;
    background: rgba($text-color, 0.4);
    overflow: auto;
}
.main { 
    // background: $text-color;
    // color: set-text-color($text-color);
    // @include flexCenter(row);
    // width: calc(80% - 20%);
    // margin: 0 auto;
    // padding: 20px;
    // #{&}__paragraph {
    //     padding: 15px;
    //     font-weight: weight(bold);
    //     &:hover{
    //         color: pink;
    //     }
    // }
    // @include mobile {
    //     flex-direction: column;
    // }
}
.light {
    // @include theme($light-theme: false);
}