
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-color-primary {
    color: $primary-color;
}
.text-color-secondary {
    color: $secondary-color;
}
.text-color-light {
    color: $text-color;
}